
.text{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 0px 0px 5px gray ;
    text-shadow: 0px 4px 0px rgb(169, 169, 169);
    position: sticky;
    top: 0px;
    color: #000000;
    background-color: rgb(255, 255, 255);

    



}


.new1{
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
    height: 40px;
    width: 60px;

    // border: 2px solid black;
    box-shadow: 0px 0px 8px 3px grey;
    border-radius: 30px;
    font-size: 12px;
    opacity: 0.5;
    
}



.new{
    text-align: center;
    height: 40px;
    width: 500px;
    // border: 2px solid black;
    box-shadow: 0px 0px 8px 3px grey;
    border-radius: 30px;
    font-size: 20px;
    opacity: 0.5;
    margin-left:370px;
    outline: none;
}



.content{

    margin-left: 150px;
    float: left;
}
.circle-img {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 100%;
    box-shadow: 0px 0px 6px 3px gray;
}

.des{
    height: 120px;
    width: auto;
    
}
.cent{
    height: 40px;
    width: auto;
}


.first {

    height: 150px;
    width: 400px;
    border: 2px solid black;
    padding-left: 5px;
    box-shadow: 0px 0px 7px 3px gray;


}

.first:hover{
    scale: 1.2;
    transition: 2s;
}
.all{
    margin-left: 100px;
}


.box1 {

    width: auto;
    font-size: 15px;
    text-align: center;
    color: white;
    outline: none;
    padding: 5px;
    background-color: rgb(33, 130, 179);
}

.internal .box1 {
    margin-left: 10px;
    float: left;
}





.first {

    height: 115px;
    width: 400px;
    border: 2px solid black;
    padding-left: 5px;


}

.box1 {

    width: auto;
    font-size: 15px;
    text-align: center;
    color: white;
    outline: none;
    padding: 5px;
    background-color: rgb(33, 130, 179);
}

.internal .box1 {
    margin-left: 10px;
    float: left;
}

.descr {
    margin-left: 4px;
}

